* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 2vw;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 2.2vw;
}

h2 {
  margin-top: 0;
  font-size: 2vw;
}

h3 {
  margin-top: 0;
  font-size: 1.8vw;
}

h4 {
  margin-top: 0;
  font-size: 1.6vw;
}

h5 {
  margin-top: 0;
  font-size: 1.4vw;
}

h6 {
  margin-top: 0;
  font-size: 1.2vw;
}

code {
  font-size: 1.2vw;
}

ul {
  padding-inline-start: 2vw;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 0.1vw solid #999;
  float: left;
  font-size: 2.4vw;
  font-weight: bold;
  line-height: 3.4vw;
  height: 3.4vw;
  margin-right: -0.1vw;
  margin-top: -0.1vw;
  padding: 0;
  text-align: center;
  width: 3.4vw;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 1vw;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 2vw;
}
